{{#if user}}
    <li>
 d;slkvflkgfkgfl
{{user.username}}

    </li>
{{else}}
                    <li>
                       not logged in 
                       
                    </li>
                {{/if}}